{% extends 'main/base.html' %}     
{% block content %}
<style>
.red{
  background-color: rgb(255, 104, 104);
  color: #fefefe;
  height: 25px;
  width: 490px;
}
.button{
  color: #ffffff;
  background: scroll;
  background-color: rgb(255, 162, 0);
}
.mmmm:hover{
  color: #000000;
}
.m{
  background-color: rgb(28, 213, 213);
  color: #000000;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom: 0px solid rgb(28, 213, 213);
}
.m:hover{
  color: #0d0b0b;
}
</style>
   <form class="form-signin" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Профиль
      </h1>
        <div class="form-group">
          {{ form.profile_icon.label_tag }}
          <br>
          {% if object.profile_icon %}
            <img class="card-img-top" src="{{ object.profile_icon.url }}" style="height: 150px; width: 250px; display: block;"/>
          {% endif %}
          {{ form.profile_icon }}
          {% if form.profile_icon.errors %}
            <ul class="errorlist">
          {% for error in form.profile_icon.errors %}
            <li class="red">{{ error }}</li>
          {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.phone_number.label_tag }}
          <br>
          {{ form.phone_number }}
          {% if form.phone_number.errors %}
            <ul class="errorlist">
              {% for error in form.phone_number.errors %}
                <li class="red">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.email.label_tag }}
          <br>
          {{ form.email }}
          {% if form.email.errors %}
            <ul class="errorlist">
              {% for error in form.email.errors %}
                <li class="red">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="form-group">
          До 10 символов. {{ form.nickname.label_tag  }}
          <br>
          {{ form.nickname }}
          {% if form.nickname.errors %}
            <ul class="errorlist">
              {% for error in form.nickname.errors %}
                <li class="red">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.first_name.label_tag }}
          <br>
          {{ form.first_name }}
          {% if form.first_name.errors %}
            <ul class="errorlist">
              {% for error in form.first_name.errors %}
                <li class="red">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.last_name.label_tag }}
          <br>
          {{ form.last_name }}
          {% if form.last_name.errors %}
            <ul class="errorlist">
              {% for error in form.last_name.errors %}
                <li class="red">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.surname.label_tag }}
          <br>
          {{ form.surname }}
          {% if form.surname.errors %}
            <ul class="errorlist">
              {% for error in form.surname.errors %}
                <li class="red">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.balance.label_tag }}
          <br>
          {{ form.balance }}
          {% if form.balance.errors %}
            <ul class="errorlist">
              {% for error in form.balance.errors %}
                <li class="red">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.description.label_tag }}
          <br>
          {{ form.description }}
          {% if form.description.errors %}
            <ul class="errorlist">
              {% for error in form.description.errors %}
                <li class="red">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      <div class="checkbox mb-3">
        <a href="/" class="m">Выйти на главную страницу</a>
        <br>
        <br>
        <details><summary class="btn btn-lg btn-danger">Удалить аккаунт</summary>
          <br>
          <br>
          <li class="">При удаление аккаунта, все данные будут удалены, без возможности возврата</li>
          <br>
          <a href="/users/delete/{{ user.pk }}" class="btn btn-lg btn-danger" >Подтвердить удаление аккаунта</a>
        </details> 
      </div>
      <button class="btn btn-lg btn-success" type="submit">Сохранить</button>
    </form>
    <div class="col-md-24 " style="width: 350px; display: block; position: absolute; right: 310px; top: 130px;">
      <div class="card mb-6 box-shadow"> 
        <div class="card-body">
          <a class="mmmm" href="/users/settings/">Настройки Профиля</a>
          <br>
          <a class="mmmm" href="/users/settings/black_list">Черный список</a>
          <br>
          <a class="mmmm" href="/users/settings/subscriptions">Подписки</a>
          <br>
          <a class="mmmm" href="#">#</a>
        </div>
      </div> 
    </div>
   
{% endblock %}
