{% extends 'main/base.html' %}     
{% block content %}
<style>
  .red{
     background-color: rgb(255, 0, 0);
     color: #fefefe;
     height: 25px;
     width: 490px;
   }
  .MMMM:hover {
  transform: scale(1.1);
  background-color: rgb(48, 193, 0);
  color: rgb(255, 255, 255);
  }
 </style>

<form class="form-signin" method="POST" enctype="multipart/form-data">
   {% csrf_token %}
   <a class="btn btn-warning" href="http://127.0.0.1:8000/channel/{{ request.user.channel.name }}">Отмена</a>
   <h1 class="h3 mb-3 font-weight-normal">Cоздание поста для канала: {{ request.user.channel.name }}
   </h1>
     <div class="form-group">
       {{ form.photo_post.label_tag }}
       <br>
       {% if object.photo_post %}
         <img class="card-img-top" src="{{ object.photo_post.url }}" alt="{{ object.header }}" style="height: 225px; width: 60%; display: block;"/>
       {% endif %}
       {{ form.photo_post }}
       {% if form.photo_post.errors %}
         <ul class="errorlist">
       {% for error in form.photo_post.errors %}
         <li class="red">{{ error }}</li>
       {% endfor %}
         </ul>
       {% endif %}
     </div>
     <div class="form-group">
       {{ form.name.label_tag }}
       <br>
       {{ form.name }}
       {% if form.name.errors %}
         <ul class="errorlist">
           {% for error in form.name.errors %}
             <li class="red">{{ error }}</li>
           {% endfor %}
         </ul>
       {% endif %}
     </div>
     <div class="form-group">
       {{ form.description.label_tag }}
       <br>
       {{ form.description }}
       {% if form.description.errors %}
         <ul class="errorlist">
           {% for error in form.description.errors %}
             <li class="red">{{ error }}</li>
           {% endfor %}
         </ul>
       {% endif %}
     </div>
     <div class="form-group">
      {{ form.subscription_level.label_tag }}
      <br>
      <select name="{{ form.subscription_level.name }}" class="form-control">
        {% for subscription in user.channel.subscriptions_set.all %}
          <option value="{{ subscription.pk }}">{{ subscription.name }}</option>
        {% endfor %}
      </select>
      {% if form.subscription_level.errors %}
        <ul class="errorlist">
          {% for error in form.subscription_level.errors %}
            <li class="red">{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-group">
      {{ form.time_the_comment.label_tag }}
      <br>
      <label class="control-label" for="inputWarning1">время</label>
      <input type="datetime-local" name="time_the_comment" class="form-control" id="inputWarning1" value="{{ form.time_the_comment.value|default:"" }}">
      {% if form.time_the_comment.errors %}
        <ul class="errorlist">
          {% for error in form.time_the_comment.errors %}
            <li class="red">{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    <div class="form-group">
      <br>
      <input type="hidden" name="channel" value="{{ request.user.channel.id }}">
    </div>
   <div class="checkbox mb-3">
     <a href="/">Выйти</a>
   </div>
   <button class="btn btn-lg btn-success" type="submit">Сохранить</button>
 </form>
{% endblock %}