{% extends 'main/base.html' %}     
{% block content %}
<style>
   .mm{
      background-color: rgb(242, 146, 146);
      transition: color 0.6s;
   }

   .mm:hover{
      color: #000000;
      background-color: #ff7070;
   }

   .mmmmm{
      color: #5e5e5e;
      background-color: #56ffd8;
   }

   .mmmmm:hover{
      color: #5e5e5e;
      background-color: #49bfff;
   }

   .button{
  color: #ffffff;
  background: scroll;
  background-color: rgb(255, 162, 0);
}
</style>
<script>
   var card = document.getElementById("auto-resize-card");

   if (card.scrollHeight > card.clientHeight) {
       card.style.height = card.scrollHeight + "px"; 
   }

   function submitForm(url) {
    var form = document.createElement("form");
    form.method = "post";
    form.action = url;

    var csrfToken = document.createElement("input");
    csrfToken.type = "hidden";
    csrfToken.name = "csrfmiddlewaretoken";
    csrfToken.value = "{{ csrf_token }}";
    form.appendChild(csrfToken);

    document.body.appendChild(form);
    form.submit();
}
</script>
{% if user.channel.name == object.name %}
<div class="container">
   <div class="row">
      <div class="card mb-4 box-shadow" style="width: 250px; display: block; right: 100px; top: 165px; margin: auto; height: 345px;">
         <div class="card mb-4 box-shadow">
            <div class="card-body" id="auto-resize-card">
               {% if object.profile_icon %}
                  <img src="{{ object.profile_icon.url }}" style="height: 120px;">
               {% endif %}
               <p class="card-text">Название канала: {{ object.name }}</p>
               <p class="card-text">Подписчики: {{ object.subscriptions.all|length }}</p>
               <p class="card-text">Описание: {{ object.description }}</p>
               <button type="button mm" class="btn btn-lg btn-success mb-4" onclick="window.location.href='/create/subscriptions/'">Создать подписку</button>
               <button type="button mm" class="btn btn-lg btn-danger mb-4" onclick="window.location.href='/create/post/'">Создать пост</button>
               <a href="/update/channel/{{ object.pk }}" class="btn btn-warning mb-4">Редактировать канал</a>
            </div>
        </div>
     </div>
      <div class="card mb-4 box-shadow" style="width: 600px; display: block; right: 60px; top: 220px; height: 400px;">
      {% if all_posts %}
      {% for post in all_posts.all %}
         <div class="card mb-4 box-shadow">
            <div class="card-body" id="auto-resize-card">
                  <p class="card-text">{{post.time_the_comment}}</p>
                  <p class="card-text">{{post.name}}</p>
                  {% if post.photo_post %}
                     <img src="{{ post.photo_post.url }}" style="width: 550px; display: block; right: 60px; top: 220px; height: 270px;">
                  {% endif %}
                  <p class="card-text">{{ post.description }}</p>
                  {% if comments %}
                  <p class="card-text">Комментарии: </p>
                  {% for comment in comments %}
                     {% if comment.post == post %}
                        <div class="card mb-4">
                              <p> {{ comment.time_the_comment }}<br><br>{{ comment.user }}: {{ comment.description }}</p>
                              {% if user.is_authenticated and comment.user == user.nickname %}
                                 <button class="mb-1 mm" onclick="window.location.href='/delete/comments/{{ comment.pk }}'">Удалить комментарий</button>
                                 <button class="mm" onclick="window.location.href='/update/comments/{{ comment.pk }}'">Редактировать комментарий</button>
                              {% endif %}
                        </div>
                     {% endif %}
                     {% endfor %}
                     <br>
                  {% else %}
                     <p class="card">Комментарии еще не написаны, будьте первыми!</p>
                  {% endif %}
                  <a href="/create/comments/{{ post.pk }}">Написать комментарий</a>
                  <br>

                  <span>{{ post.likes }}</span>
                  <button type="button" class="btn btn-sm btn-success" onclick="submitForm('/update-likes/{{ post.pk }}/')">Like</button>
                  <br>
                  <br>
                  <button type="button mm" class="btn btn-lg btn-danger" onclick="window.location.href='/delete/post/{{ post.pk }}'">Удалить пост</button>
                  <a href="/update/post/{{ post.pk }}" class="btn btn-warning">Редактировать пост</a>
            </div>
         </div>
      {% endfor %}
         {% else %}   
         <div class="card mb-4 box-shadow">
            <div class="card-body" id="auto-resize-card">
               <p class="card-text">Постов пока, что нет <a href="/create/post/">Добавить</a> </p>
            </div>
         </div>
         {% endif %}
      </div>
      {% if subscriptions %}
         {% for subscription in subscriptions %}
         <div class="card mb-4 box-shadow" style="width: 260px; display: block; top: 220px; height: 370px;">
               <h7 class="card-body">Сила подписки: {{ subscription.strength_of_subscription }}</h7>
               <div class="card-body" style="height: 130px;"> 
                  <p class="card-text">{{ subscription.name }}</p>
                  <p class="card-text">{{ subscription.description|truncatechars:27  }}</p>
                  <p class="card-text">{{ subscription.amount_per_month }} Руб в месяц</p>
                  <a href="/update/subscriptions/{{ subscription.pk }}" class="btn btn-warning">Редактировать </a>
                  <button type="button mm" class="btn btn-lg btn-danger" onclick="window.location.href='/delete/subscriptions/{{ subscription.pk }}'">Удалить подписку</button>    
            </div>
            {% endfor %}
      {% else %}
         <div class="card mb-4 box-shadow" style="width: 250px; display: block; right: 0px; top: 70px; margin: auto; height: 200px;">
            <h5 class="card-body">У данного канала еще нет подписок</h5>
            <button type="button mm" class="btn btn-lg btn-success" onclick="window.location.href='/create/subscriptions'" style="margin: 20px;">Добавить подписку</button>
         </div>
      {% endif %}
        </div>
   </div>
</div>
{% else %}
<div class="container">
   <div class="row">
      <div class="card mb-4 box-shadow" style="width: 250px; display: block; right: 100px; top: 215px; margin: auto; height: 345px;">
         <div class="card mb-4 box-shadow">
            <div class="card-body" id="auto-resize-card">
               {% if object.profile_icon %}
                  <img src="{{ object.profile_icon.url }}" style="height: 120px;">
               {% endif %}
               <p class="card-text">Название канала: {{ object.name }}</p>
               <p class="card-text">Подписчики: {{ object.subscriptions.all|length }}</p>
               <p class="card-text">{{ object.description }}</p>
            </div>
        </div>
     </div>
     <div class="card mb-4 box-shadow" style="width: 600px; display: block; right: 60px; top: 270px; height: 400px;">
      {% if free_posts %}
      {% for post in free_posts.all %}
         <div class="card mb-4 box-shadow">
            <div class="card-body" id="auto-resize-card">
                  <p class="card-text">{{post.time_the_comment}}</p>
                  <p class="card-text">{{post.name}}</p>
                  {% if post.photo_post %}
                     <img src="{{ post.photo_post.url }}" style="width: 550px; display: block; right: 60px; top: 220px; height: 270px;">
                  {% endif %}
                  <p class="card-text">Описание: {{ post.description }}</p>
                  {% if comments %}
                  <p class="card-text">Комментарии: </p>
                  {% for comment in comments %}
                     {% if comment.post == post %}
                        <div class="card mb-4">
                              <p> {{ comment.time_the_comment }}<br><br>{{ comment.user }}: {{ comment.description }}</p>
                              {% if user.is_authenticated and comment.user == user.nickname %}
                                 <button class="mb-1 mm" onclick="window.location.href='/delete/comments/{{ comment.pk }}'">Удалить комментарий</button>
                                 <button class="mm" onclick="window.location.href='/update/comments/{{ comment.pk }}'">Редактировать комментарий</button>
                              {% endif %}
                        </div>
                     {% endif %}
                     {% endfor %}
                     <br>
                  {% else %}
                     <p class="card">Комментарии еще не написаны, будьте первыми!</p>
                  {% endif %}
                  <a href="/create/comments/{{ post.pk }}">Написать комментарий</a>
                  <br>
                  <span>{{ post.likes }}</span>
                  <button type="button" class="btn btn-sm btn-success" onclick="submitForm('/update-likes/{{ post.pk }}/')">Like</button>
            </div>
         </div>
      {% endfor %}
         {% else %}   
         <div class="card mb-4 box-shadow">
            <div class="card-body" id="auto-resize-card">
               <p class="card-text">Бесплатных постов пока, что нет</p>
            </div>
         </div>
         {% endif %}
      </div>
       {% if subscriptions %}
         {% for subscription in subscriptions %}
         <div class="card mb-4 box-shadow" style="width: 260px; display: block; top: 170px; margin: auto; height: 300px;">
            <h7 class="card-body">Сила подписки: {{ subscription.strength_of_subscription }}</h7>
            <div class="card-body" style="height: 130px;"> 
                  <p class="card-text">{{ subscription.name }}</p>
                  <p class="card-text">{{ subscription.description|truncatechars:30  }}</p>
                  <p class="card-text">{{ subscription.amount_per_month }} Руб в месяц</p>
                  {% if payment %}
                     
                  {% else %}
                     <button type="button" class="btn btn-lg btn-success" onclick="window.location.href='/subscriptions/{{ subscription.pk }}'">Подписаться</button>
                  {% endif %}

                     {% for item in payment %}
                     {% if item.subscriptions.pk == subscription.pk %}
                        {% if user.is_authenticated and request.user.nickname == item.user_nickname %}
                           <h5 class="mm">Вы подписаны</h5>
                        {% else %}
                           <button type="button" class="btn btn-lg btn-success" onclick="window.location.href='/subscriptions/{{ subscription.pk }}'">Подписаться</button>
                        {% endif %}
                     {% else %}
                        <button type="button" class="btn btn-lg btn-success" onclick="window.location.href='/subscriptions/{{ subscription.pk }}'">Подписаться</button>
                     {% endif %}
                  {% endfor %}  
            </div>
            {% endfor %}
       {% else %}
         <div class="card mb-4 box-shadow" style="width: 220px; display: block; right: 0px; top: -30px; margin: auto; height: 100px;">
            <h5 class="card-body">У данного канала еще нет подписок</h5>
         </div>
       {% endif %}
         </div>
   </div>
</div>
{% endif %}
{% endblock %}